<div class="panel panel-primary"><div class="panel-heading">{{people.name}}</div>
<div class="panel-body">
	<img class="lazy" ng-src="{{people.thumbnail}}">	
	<div ng-show="showDetail">
		<div class="container-fluid" style="position: relative; left:-10px;">
		    <div class="row row-card">
		        <div class="col-md-5">
		            <font class="font-card">Age: {{people.age}}</font>
		        </div>
		        <div class="col-md-7">
		            <font class="font-card">Hair color: 
		            <span style="color:{{people.hair_color}}">{{people.hair_color}}</span></font>
		        </div>
		    </div>
		    <div class="row row-card">
		        <div class="col-md-5">
		            <font class="font-card">Weight: {{people.weight | numberEx:2}}</font>
		        </div>
		        <div class="col-md-7">
		            <font class="font-card">Height: {{people.height | numberEx:2}}</font>
		        </div>
		    </div>
		    <hr/>
		    <div class="row row-card">
		        <div class="col-md-6" ng-show="people.friends.length>0">
		            <h3>Friends</h3>
		                <div ng-repeat="friend in people.friends">
		                    {{friend}}
		                </div>  
		        </div>
		        <div class="col-md-6" ng-show="people.professions.length>0">
		                <h3>Professions</h3>
		                <div ng-repeat="profession in people.professions">
		                    {{profession}}
		                </div>       
		        </div>
		    </div>
		</div> 			
	</div>
</div>
<div class="panel-footer">
	<div>{{people.friends.length}} friends</div> 
	<div>{{people.professions.length}} professions</div>
	<button style="position: relative; float: right; margin-bottom: 5px;" ng-click="showDetail = !showDetail">
	<span ng-if="!showDetail">More details</span><span ng-if="showDetail">Hide details</span>
	</button>
</div>


