 
<div class="modal-header">
   <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" ng-src="{{thumbnail}}" alt="{{name}}">
        </div>
        <div class="col-md-8">
            <h2>{{name}}</h2>
           <blockquote>Profile details</blockquote>
        </div>
    </div>           
</div> 
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <blockquote>Age: <div ng-bind="age"/></blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>Hair color: <div ng-bind="hair_color"/></blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>Weight: <div ng-bind="weight"/></blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>Height: <div ng-bind="height"/></blockquote>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <blockquote>Friends</blockquote>
                <ul ng-repeat="friend in friends">
                    <li class="li-detail">{{friend}}</li>
                </ul>  
        </div>
        
        <div class="col-md-6">
                <blockquote>Professions</blockquote>
                <ul ng-repeat="profession in professions">
                    <li class="li-detail">{{profession}}</li>
                </ul>       
        </div>
    </div>
</div>    
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">Ok</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>